name: Build & Release PDF

on:
  push:
    branches:
      - main 

permissions:
  contents: write

jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Compile LaTeX
        uses: xu-cheng/latex-action@v3
        with:
          root_file: main.tex

      - name: Rename PDF
        run: mv main.pdf tu-mami.pdf

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: latest
          name: Última Versión Compilada
          files: tu-mami.pdf
          draft: false
          prerelease: false
          overwrite: true 